.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.list-container {
  width: 90vw;
  max-width: 500px;
  min-width: 150px;
  /* margin-top: 5%; */
  margin-bottom: 5%;
  border-style: none;
  background-color: var(--clr-white);
}

/* ------------------------------------------- heading ------------------------------------------- */

.list-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  height: 12vw;
  max-height: 70px;
  align-items: center;
}

.list-heading-text-container {
  display: flex;
  text-align: center;
  /* height: 12vw;
  max-height: 60px; */
  width: 200vw;
  max-width: 435px;
}

.list-heading-text,
.list-heading-input {
  font-family: "Kalam", cursive;
  font-weight: 600;
  font-size: clamp(0.8rem, 7vw, 2.3rem);
  color: var(--clr-dark-grey);
  /* padding-top: 2%; */
  user-select: none;
}

.list-heading-input {
  padding-bottom: 2%;
  padding-top: 3%;
  margin-top: 2.1%;
  -webkit-user-select: none;
  user-select: none;
  width: 100vw;
  max-width: 335px;
  height: 25px;
  background-color: var(--clr-lightest-grey);
  border-style: none;
  outline: none !important;
  margin-left: -0.5%;
}

.list-heading-arrow-down {
  height: 30%;
  margin-right: 5%;
}

.list-heading-arrow-down-ani {
  height: 30%;
  margin-right: 5%;
  animation-name: list-heading-arrow-down-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@keyframes list-heading-arrow-down-ani {
  0% {
    transform: scaleY(-1);
  }
  100% {
    transform: scaleY(1);
  }
}

.list-heading-arrow-up {
  height: 30%;
  margin-right: 5%;
  transform: scaleY(-1);
  animation-name: list-heading-arrow-up-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@keyframes list-heading-arrow-up-ani {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(-1);
  }
}

/* ------------------------------------------- list options ------------------------------------------- */

.list-heading-gear {
  height: 50%;
  margin-right: 5%;
}

.list-heading-gear-open,
.list-heading-gear-close {
  height: 50%;
  margin-right: 5%;
  animation-name: list-heading-gear-open-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

.list-heading-gear-close {
  animation-name: list-heading-gear-close-ani;
}

@keyframes list-heading-gear-open-ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-120deg);
  }
}

@keyframes list-heading-gear-close-ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(120deg);
  }
}

.list-heading-gear-show,
.list-heading-gear-hide {
  height: 50%;
  margin-right: 5%;
  animation-name: list-heading-gear-show-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

.list-heading-gear-hide {
  animation-name: list-heading-gear-hide-ani;
}

@keyframes list-heading-gear-show-ani {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes list-heading-gear-hide-ani {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.list-options-container-open,
.list-options-container-close {
  display: flex;
  position: relative;
  width: 85%;
  height: 12vw;
  max-height: 70px;
  flex-direction: row;
  padding-left: 7.5%;
  padding-right: 7.5%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: -1px;
  animation-name: list-options-container-open-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

.list-options-container-open {
  animation-name: list-options-container-open-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@keyframes list-options-container-open-ani {
  0% {
    margin-top: -1px;
    height: 1px;
    max-height: 1px;
  }
}

.list-options-container-open button {
  animation-name: list-options-container-button-open-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@keyframes list-options-container-button-open-ani {
  0% {
    opacity: 1%;
    height: 1px;
    max-height: 1px;
  }
  25% {
    opacity: 1%;
  }
}

.list-options-container-close {
  animation-name: list-options-container-close-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;}

@keyframes list-options-container-close-ani {
  100% {
    margin-top: -1px;
    height: 1px;
    max-height: 1px;
  }
}

.list-options-container-close button {
  animation-name: list-options-container-button-close-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;}

@keyframes list-options-container-button-close-ani {
  50% {
    opacity: 1%;
  }
  100% {
    opacity: 1%;
    height: 1px;
    max-height: 1px;
  }
}

.options-button,
.options-button-delete {
  font-family: "ABeeZee", sans-serif;
  color: var(--clr-white);
  padding-left: 4.5%;
  padding-right: 4.5%;
  background-color: var(--clr-dark-grey);
  font-size: clamp(0.3rem, 3vw, 1.1rem);
  margin-right: 0.5%;
  height: 7vw;
  max-height: 45px;
  border-radius: 1.5vh;
}

.options-button-delete {
  color: var(--clr-white);
  background-color: rgb(140, 0, 0);
}

.deleteListQueryText{
  font-family: "ABeeZee", sans-serif;
  color: var(--clr-white);
  font-weight: 700;
  line-height: 22.5px;
  padding-left: 2vw;
  padding-right: 1vw;
  text-align: center;
}

/* ------------------------------------------- list items ------------------------------------------- */

.list-content-container,
.list-content-container-open,
.list-content-container-close {
  margin-top: 5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.list-content-container-open,
.list-content-container-open > div,
.list-content-container-open > div > div,
.list-content-container-open > div > div > div,
.list-content-container-open > div > div > div > a,
.list-content-container-open button {
  animation-name: list-content-container-open-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@keyframes list-content-container-open-ani {
  0% {
    margin-top: 1px;
    /* font-size: 1px; */
    opacity: 1%;
    height: 1px;
    max-height: 1px;
  }
}

.list-content-container-close,
.list-content-container-close > div,
.list-content-container-close > div > div,
.list-content-container-close > div > div > div,
.list-content-container-close > div > div > div > a,
.list-content-container-close button {
  animation-name: list-content-container-close-ani;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@keyframes list-content-container-close-ani {
  100% {
    margin-top: 1px;
    /* font-size: 1px; */
    opacity: 1%;
    height: 1px;
    max-height: 1px;
  }
}

.list-item-row {
  margin-bottom: 2.5%;
  height: 12vw;
  max-height: 60px;
}

.list-item-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 12vw;
  max-height: 60px;
  background-color: var(--clr-lightest-grey);
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.list-item-accent {
  height: 12vw;
  max-height: 60px;
  width: 3vw;
  max-width: 12.5px;
  position: absolute;
  z-index: 2;
}

.list-item-text-container {
  width: 86%;
  margin: 1.5% 0% 0% 6.5%;

}

.list-item-text,
.list-item-text-checked {
  font-family: "Kalam", cursive;
  font-weight: 100;
  font-size: clamp(0.5rem, 6vw, 2rem);
  color: var(--clr-dark-grey);
}

.list-item-text-checked {
  color: var(--clr-medium-grey);
  text-decoration: line-through;
}

/* ------------------------------------------- add list items ------------------------------------------- */

.add-list-item-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 7.5%;
  height: 13vw;
  max-height: 70px;
}

.input-list-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.2%;
}

.input-field {
  border-style: none;
  width: 100vw;
  min-width: 95px;
  font-size: clamp(0.3rem, 4vw, 1.5rem);
  height: 12vw;
  max-height: 60px;
  padding: 0% 0% 0% 6.5%;
  /* padding-left: 5%; */
  margin-right: 2.5%;
  background-color: var(--clr-lightest-grey);
}

.input-field:focus {
  border-style: solid;
  border-width: 3px;
  outline: none !important;
  height: 12vw;
  max-height: 54px;
  padding: 0% 0% 0% 5.7%;
  margin-right: 2.5%;
}

/* ------------------------------------------- buttons ------------------------------------------- */

.buttons-container {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 2;
  justify-content: center;
  width: 10%;
}

button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: clamp(0.3rem, 3vw, 1.5rem);
  color: var(--clr-white);
  background-color: var(--clr-dark-grey);
  z-index: 2;
  height: 12vw;
  max-height: 60px;
  cursor: pointer;
}

.add-list-items-button {
  font-family: "ABeeZee", sans-serif;
  font-weight: bolder;
  border-radius: 100vw;
  font-size: clamp(1rem, 20vw, 7rem);
  height: 15vw;
  max-height: 80px;
  min-height: 25px;
}

.add-button {
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.done-button,
.material-icons {
  font-weight: 1000;
  display: flex;
  /* flex-direction: row-reverse; */
  border-radius: 100vw;
  font-size: clamp(0.5rem, 12vw, 3.5rem);
  height: 12vw;
  max-height: 65px;
  min-height: 15px;
  background-color: rgb(109, 190, 102);
  padding-bottom: -vw;
  /* align-content: center; */
  align-items: center;
}

.remove-button {
  background-color: var(--clr-lightest-grey);
  font-family: "ABeeZee", sans-serif;
  font-weight: bolder;
  font-size: clamp(0.3rem, 12vw, 4rem);
  color: var(--clr-white);
  background-color: var(--clr-red);
  z-index: 2;
  padding-bottom: 2%;
  padding-right: 3.5%;
  padding-left: 3.5%;
  color: rgb(148, 9, 9);
}

.colour-theme-button{
  height: 7vw;
  max-height: 40px;
  min-height: 10px;
  width: 7vw;
  min-width: 10px;
  max-width: 40px;
  border-style: solid;
  border-radius: clamp(0.1vw, 2vw, 12.5px);
  border-width: clamp(0.2vw, 1.2vw, 7.5px);
  border-color: var(--clr-dark-grey);
  margin-bottom: 1vh;
}

/* ------------------------------------------- footer ------------------------------------------- */

.list-footer {
  height: 1px;
}
