

  .footer-container {
    width: 80vw;
    max-width: 500px;
    min-width: 150px;
    border-style: none;
  }

.footer-button-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 5vw;
  max-height: 50px;
}

button {
    display: flex;    
    align-items: center;
    border-style: none;
    color: var(--clr-light-grey);
    background-color: var(--clr-dark-grey);
    font-family: "ABeeZee", sans-serif;
    font-weight: bolder;
    border-radius: 100vw;
    font-size: clamp(0.5rem, 10vw, 5.5rem);
    height: 8vw;
    max-height: 65px;
    min-height: 15px;
    cursor: pointer;
}
