

  .footer-container {
    width: 80vw;
    max-width: 500px;
    min-width: 150px;
    border-style: none;
  }

.footer-button-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 5vw;
  max-height: 50px;
}

button {
    display: flex;    
    align-items: center;
    border-style: none;
    color: var(--clr-dark-grey);
    background-color: var(--clr-lightest-grey);
    font-family: "ABeeZee", sans-serif;
    font-weight: bolder;
    border-radius: 100vw;
    font-size: clamp(1rem, 16vw, 6.5rem);
    height: 12vw;
    max-height: 70px;
    min-height: 15px;
    cursor: pointer;
}