.header-container {
  width: 92vw;
  min-width: 150px;
  border-style: none;
  padding-right: 3%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.header-button-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 5%; */
  margin-right: 2.5%;
  padding-bottom: 1%;
  height: 5vw;
  max-height: 50px;
}

button {
  display: flex;    
  align-items: center;
  border-style: none;
  color: var(--clr-dark-grey);
  background-color: var(--clr-lightest-grey);
  font-family: "ABeeZee", sans-serif;
  font-weight: bolder;
  border-radius: 100vw;
  font-size: clamp(0.5rem, 5vw, 2.5rem);
  height: 4vw;
  max-height: 65px;
  min-height: 15px;
  cursor: pointer;
}

.user-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: clamp(0.3rem, 4vw, 1.5rem);
  color: var(--clr-lightest-grey);
}
