.header-container {
  width: 92vw;
  min-width: 150px;
  border-style: none;
  padding-right: 3%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.header-button-row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 2%;
  height: 5vw;
  max-height: 50px;
}

.logout-button,
.username-button {
  display: flex;
  align-items: center;
  border-style: none;
  color: var(--clr-dark-grey);
  background-color: var(--clr-lightest-grey);
  font-family: "ABeeZee", sans-serif;
  font-weight: 1000;
  border-radius: 2vw;
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  height: 7vw;
  max-height: 50px;
  padding: 2vw;
  margin-left: 2vw;
  min-height: 15px;
  cursor: pointer;
  font-weight: 700;
}

.username-button {
  color: var(--clr-lightest-grey);
  background-color: var(--clr-dark-grey);
  font-weight: 400;
}