
  .apiStatusLoading,
  .apiStatusLoaded,
  .apiStatusFailed {
    /* background-color: rgb(210, 212, 210); */
    display: flex;
    height: 10vw;
    width: 10vw;
    max-height: 75px;
    max-width: 75px;
    position: fixed;
    left: 5px;
    top: 1px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .apiStatusLoading .material-icons {
    color: var(--clr-lightest-grey);
  font-size: 50px;
  font-weight: 1000;
  }

  .apiStatusLoaded .material-icons {
    color: lime;
  font-size: 50px;
  font-weight: 1000;
  }

  .apiStatusFailed .material-icons {
    color: rgb(158, 43, 43);
  font-size: 50px;
  font-weight: 1000;
  }
  
