<div class="login-container">

    <!-- user heading -->
    <div class="login-heading-container" style="background-color: {{this.randomColour}}">
        <a class="login-heading-text">User Login</a>
    </div>

    <!-- input -->
    <div class="input-row-container">
        <div class="input-row">
            <div class="login-item-accent" style="background-color: {{this.randomColour}}">
            </div>
            <input class="input-field" type="text" id="usernameinput" name="username" placeholder="username"
            (keyup.enter)="login()" style="border-color: {{this.randomColour}}">
        </div>
        <div class="input-row">
            <div class="login-item-accent" style="background-color: {{this.randomColour}}">
            </div>
            <input class="input-field" type="text" id="passwordinput" name="password" placeholder="password"
            (keyup.enter)="login()" style="border-color: {{this.randomColour}}">
        </div>
    </div>

    <!-- buttons -->
    <div class="login-button-container">
        <button class="login-button" style="background-color: {{this.randomColour}}"
            (click)="activateRegisterUser()">
            <a>register</a></button>
        <button class="login-button" style="background-color: {{this.randomColour}}"
            (click)="login()">
            <a>login</a></button>
    </div>

    <!-- footer -->
    <div class="login-footer" >
        or <a style="color: {{this.randomColour}}">&#160;click here&#160;</a> to login as guest
    </div>

</div>